<!DOCTYPE html>
<html>
  <head>
    <title>SleepingStar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%=@time_of_day%>-theme">
      <header>
        <nav>
            <ul class="top-nav nav-grid">
                <li class="home-nav-item"><a class="nav-link" href="default.asp">Good <%=@time_of_day%></a></li>
                <li class="home-nav-item"><a class="nav-link" href="/stories/search">Find A Story</a></li>
                <li class="home-nav-item"><a class="nav-link" href="contact.asp">Contact</a></li>
                <li class="home-nav-item"><a class="nav-link" href="about.asp">About</a></li>
            </ul> 
        </nav>
      </header>
      <%= yield %>
      <footer>
            <ul class="top-nav nav-grid">
              <li class="home-nav-item"><a class="nav-link" href="default.asp">Good <%=@time_of_day%></a></li>
              <li class="home-nav-item"><a class="nav-link" href="contact.asp">Contact</a></li>
              <li class="home-nav-item"><a class="nav-link" href="about.asp">About</a></li>
              <li>Have a wonderful everything!</li>
          </ul> 
      </footer>
  </body>
</html>
